.page-content {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 1fr;
  color: black;
}

.main-content {
  padding: 20px;
}

.hyperlink {
  color: inherit;
	text-decoration: none;
  font-weight: bold;
  color: #000b42;
}

.section-title {
  color: #585858;
}

.profile-text {
  text-align: justify;
}

.position-title-text {
  color: inherit;
}

.institution-name-link {
  color: inherit;
}

.time-period-text {
  color: inherit;
}

.position-description-text {
  text-align: justify;
}

@media (max-width: 1000px) {
  .page-content {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}

@media (max-width: 767px) {
  .page-content {
    display: block;
    /* hide the sidebar */
  }
}