.App {
  text-align: center;
}

.page-content {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.main-content {
  padding: 20px;
}

@media (max-width: 767px) {
  .page-content {
    display: block;
    /* hide the sidebar */
  }
}