.single-skill {
    text-align: left;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-title {
    background-color: #ff7c7c;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    background-color: #cfcece;
    padding: 10px;
}