:root {
  --sidebar-width: 20%;
  --sidebar-minimal-width: 200px;

  --navbar-height: 5%;
  --navbar-minimal-height: 38px;

  --primary-gray: #525461;
  --secondary-gray: #777A8C;
  --hyperlinks-color: #1C418C;
  --content-background: #8ba5d9a4;
  --page-background: #dadce081;
  --button-highlight: #b0dada;
  --button-highlight-light: #b0dada79;
  --text-color: black;
}

.page-content {
  text-align: center;
  display: flex;
  color: var(--text-color);
  background-color: var(--page-background);
}

.main-content {
  margin-top: var(--navbar-height);
  margin-left: calc(var(--sidebar-width) + 10%);
  margin-right: 10%;
  width: calc(100% - var(--sidebar-width));
}

.position-content {
  background-color: var(--content-background);
  padding: 1vh;
  margin: 2%;
  border-radius: 1vh;
}

.hyperlink {
  text-decoration: none;
  font-weight: bold;
  color: var(--hyperlinks-color);
}

.section-title {
  color: var(--primary-gray);
}

.profile {
  padding: 8%;
}

.profile-text {
  text-align: justify;
}

.position-title-text {
  color: inherit;
}

.institution-name-link {
  color: inherit;
}

.time-period-text {
  color: inherit;
}

.position-description-text {
  text-align: justify;
}

@media (max-width: 1000px) {
  .main-content {
    margin-top: var(--navbar-height);
    margin-left: calc(var(--sidebar-minimal-width) + 10%);
    margin-right: 10%;
    width: calc(100% - var(--sidebar-minimal-width));
  }
}

@media (max-width: 767px) {
  .page-content {
    display: block;
    /* hide the sidebar */
  }

  .main-content {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: var(--navbar-minimal-height);
  }
}